<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#" ><h1 >API  Covid-19   <i class="fas fa-viruses"></i></h1></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" href="/">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/continentes">Continentes</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"action="/nobel" method="POST" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Paises
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown"><% for(var pais of paises) { %>
            <a class="dropdown-item"href="/nobel/<%= pais.country %>"><%= pais.country %></a>
            
              <a type="text" value="<%= pais.country %>"></a>
              <% } %>
            
          </div>
        </li>
        
      </ul>
      
      <form class="form-inline my-2 my-lg-0"action="/nobel" method="POST">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar Pais"name="pais" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0"name="pais" type="submit">Buscar</button>
      </form>
    </div>
  </nav>


    <div class="row">
      <div class="col-12 card   mt-5 p-3 "style="background-color: #f5f5f5" >
        <div class="row no-gutters">
          <div class="col-md-4"><img src="<%= data.countryInfo.flag %>" class="card-img rounded" ></div><div class="col-md-8">
            <div class="card-body">
              <h2 class="card-title text-center"><%= data.country %></h2>
              <p class="card-text text-center bg-danger text-white" > Casos: <%= data.cases %></p>
              <p class="card-text text-center bg-dark text-white"> Fallecidos: <%= data.deaths %> </p>
              <p class="card-text text-center bg-success text-white"> Recuperados: <%= data.recovered %> </p>
              <a class="text-center " href="/nobel" >Regresar</a> 
            </div>
          </div>
        </div>
      </div>
    </div>
  

     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
 <script src="https://kit.fontawesome.com/02551ea175.js" crossorigin="anonymous"></script>
</body>
</html>